-r requirements.txt
black
# Needs to be tightly coordinated with pytest-homeassistant-custom-component
homeassistant>=2021.5.0b4,<2021.6
homeassistant-stubs
flake8
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-flake8
pytest-homeassistant-custom-component==0.3.2
pytest-mypy
pytest-randomly
pytest-sugar
tox
