-r requirements_common.txt
coverage
# The version of homeassistant used for testing needs to be tightly coordinated with
# pytest-homeassistant-custom-component and homeassistant-stubs
homeassistant>=2022.10.4,<2022.11
homeassistant-stubs>=2022.10.4,<2022.11
pytest
pytest-aiohttp
pytest-cov
pytest-homeassistant-custom-component==0.12.9
pytest-sugar
tox
